# Porta local (opcional, padrão 3000)
PORT=3000

# Cookie de sessão do Spotify (Obrigatório para autenticação de Canvas)
# Obtenha em: open.spotify.com > F12 > Aplicativo > Cookies > https://open.spotify.com > sp_dc
SP_DC=

